.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive__list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  text-align: center;
}

.responsive__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  width: min(90vw, 1200px);
}

.responsive__list-item {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .responsive__list::after {
    content: '';
    flex-grow: 10;
  }
}
.page {
  width: 100%;
  height: 100%;
}

.section {
  max-width: 1440px;

  padding: 10px;

  margin-inline: auto;

  text-align: center;
}

/* MAIN */

.main {
}

.main__header {
}

.main__swiper {
}

.main__card {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  margin: auto;
}

.main__card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* NEWS */

.news__card {
  width: 100%;
  height: 200px;

  background-color: black;
}

input {
  border: 1px solid red;
}
