.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive__list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  text-align: center;
}

.responsive__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  width: min(90vw, 1200px);
}

.responsive__list-item {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .responsive__list::after {
    content: '';
    flex-grow: 10;
  }
}

.page {
  width: 100%;
  height: 100%;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-columns: min-content 1fr 30px;

  align-items: center;
  gap: 30px;

  width: 100%;
  height: 60px;

  padding-inline: 20px;

  background-color: #1c26d9;

  z-index: 20;
}

.logo__container {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
}

.logo {

}

.nav {
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.nav__item {

}

.mobile__nav-container {
  display: none;

  align-items: center;
  justify-content: flex-end;
}

.mobile__nav-open {

}

.mobile__nav-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #005ff1;
  overflow: hidden;
  z-index: 100;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.mobile__nav-wrapper.visible {
  transform: scaleX(1);
  transition: transform 0.3s ease-out;
}

body:has(.mobile__nav-wrapper.visible) {
  overflow: hidden;
}

.mobile__nav {

}

.mobile__nav-list {
  display: flex;
  flex-direction: column;
}

.mobile__nav-item {

}

.mobile__nav-close {

}

/* Section */

.section__heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: min(90vw, 1200px);
}

.section__heading {
  width: min(90vw, 1200px);

  font-size: var(--section-heading);
  line-height: 120%;

  text-align: start;
}

.section__heading-link {
  display: block;

}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  max-width: 1440px;

  padding: 30px 10px;

  margin-inline: auto;
}

/* MAIN */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: min(90vw, 1200px);

  padding-block: 30px;
}

.main__heading {
}

.main__swiper {
}

.main__swiper-wrapper {
}

.main__card {
  position: relative;
  max-width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  margin: auto;

  border-radius: 16px;
}

.main__card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* NEWS */

.news {
  /* background-image: linear-gradient(to left top, #1c26d9, #005ff1, #138bfc, #66b3ff, #aad8ff); */
}

.news__list {
  display: grid;
}

.news__item {
  position: relative;

  transition: all 0.2s linear;

  overflow: hidden;
  cursor: pointer;
}

.news__swiper-wrapper {
  display: none;
}

.news-slide {
  padding: 10px;

  background-color: var(--white);
  border-radius: 16px;

  overflow: hidden;
}

.news__card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  border-radius: 16px;

  transition: all 0.2s linear;

  cursor: pointer;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  overflow: hidden;
}

.news__image-container {
  width: 100%;
  max-height: 200px;

  overflow: hidden;
}

.news__image {
  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: all 0.2s linear;
}

.news__content {
  display: flex;
  flex-direction: column;

  gap: 10px;

  padding: 20px;
}

.news__heading {  
  width: 100%;
  text-align: start;
}

.news__description {
  width: 100%;
  max-height: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  font-size: var(--content-text-size);
}

.news__date {
  width: 100%;
  text-align: start;
}

.news__link {
  position: absolute;
  inset: 0;

  z-index: 1;
}

/* ABOUT */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: min(90vw, 1200px);
}

/* TEAM */
.team {
  background-image: linear-gradient(to left top, #1c26d9, #005ff1, #138bfc, #66b3ff, #aad8ff);
}

.team__wrapper {
  width: min(90vw, 1200px);

  padding: 30px 0px;
}

.swiper.team__swiper, .swiper.news__swiper {
  padding-block: 20px;
  padding-inline-start: 10px;
  padding-inline-end: 20px;
}

.team-slide, .news__slide {
  border-radius: 16px;
}

.team__card {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  min-height: 350px;
  max-height: 350px;

  border-radius: 16px;

  transition: all 0.2s linear;

  cursor: pointer;

  overflow: hidden;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team__image-container {
  position: absolute;
  inset: 0;

  border-radius: 16px;
}

.team__image {
  width: 100%;
  height: 100%;

  min-height: 350px;
  max-height: 350px;

  object-fit: cover;

  transition: all 0.2s linear;

  border-radius: 16px;

  overflow: hidden;
}

.team__content {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100px;

  padding: 10px;

  background-color: var(--white);

  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.team__heading {
  text-align: start;
}

.team__description {
  width: 100%;
  max-height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  font-size: var(--content-text-size);
}

.team__link {
  position: absolute;
  inset: 0;

  z-index: 1;
}

/* ATHLETES */

.athletes {
  background-image: linear-gradient(to left bottom, #1c26d9, #005ff1, #138bfc, #66b3ff, #aad8ff);
}

@media screen {
  .news__card:hover,
  .news__item:hover,
  .team__card:hover {
    transform: scale(1.02);
    transition: all 0.2s linear;
  }

  .news__card:hover .news__image,
  .news__item:hover .news__image,
  .team__card:hover .team__image {
    transform: scale(1.02);
    transition: all 0.2s linear;
  }
}

/* Calendar */

.calendar__wrapper {
  width: min(90vw, 1200px);

  padding: 30px 0px;
}


@media (max-width: 768px) {
  .header {
    grid-template-columns: min-content 1fr;

    height: 45px;
  }

  .nav {
    display: none;
  }

  .mobile__nav-container {
    display: flex;
    justify-content: flex-end;
  }

  .news__swiper-wrapper {
    display: grid;
  }

  .news__list {
    display: none;
  }
}